<mat-card>
  <mat-card-title>Downloads</mat-card-title>
  <div *ngIf="downloadsLoaded()">
    <mat-card-content>
      <mat-grid-list [cols]="numberOfColumns" rowHeight="240px" (window:resize)="handleSize($event)">
        <mat-grid-tile *ngFor="let downloadDto of downloadDtos">
          <app-download-detail [downloadDto]="downloadDto"></app-download-detail>
        </mat-grid-tile>
      </mat-grid-list>
      <p *ngIf="downloadDtos.length == 0"> Downloads will be shown here</p>
    </mat-card-content>
  </div>
  <div *ngIf="!downloadsLoaded()">
    <p>Preferences could not be loaded</p>
  </div>

</mat-card>
