img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: black;
  width: 10%;
  margin-top: 10pt;
}
