<div class="episode">
  <div class="meta-line">
    <mat-icon aria-hidden="true">queue_play_next</mat-icon>
    <span>{{ tmdbEpisodeDto().name }}</span>
    <app-overview-popover [title]="tmdbEpisodeDto().name" [overview]="tmdbEpisodeDto().overview" />
    <mat-icon aria-hidden="true">date_range</mat-icon>
    <span class="visually-hidden">Air date:</span>{{ tmdbEpisodeDto().air_date }}
  </div>
  @if (downloadText(); as downloadText) {
    <p class="meta-line"><mat-icon aria-hidden="true">archive</mat-icon>{{ downloadText }}</p>
  }
  <app-torrent-suggestions [tmdbEpisodeDto]="tmdbEpisodeDto()" [seriesDetail]="seriesDetail()" />
</div>
