@if (isLoading()) {
  <div class="loading">
    <mat-progress-spinner mode="indeterminate" diameter="32" aria-label="Loading movie details" />
  </div>
} @else if (movieDetail(); as movieDetail) {
  <div class="movie-detail">
    <div class="foreground">
      <p class="meta-line">
        <mat-icon aria-hidden="true">date_range</mat-icon>
        <span class="visually-hidden">Release date:</span>{{ movieDetail.release_date }}
        <mat-icon aria-hidden="true">timer</mat-icon>
        <span class="visually-hidden">Runtime:</span>{{ movieDetail.runtime }} min
        <mat-icon aria-hidden="true">star</mat-icon>
        <span class="visually-hidden">Rating:</span>{{ movieDetail.vote_average }}
      </p>
      @if (movieDirectory(); as movieDirectory) {
        <p class="meta-line">
          <mat-icon aria-hidden="true">snippet_folder</mat-icon>
          <span class="visually-hidden">Downloaded to:</span>{{ movieDirectory.absolutePath }}
        </p>
      }
      <mat-chip-set>
        @for (genre of movieDetail.genres; track genre.id) {
          <mat-chip>{{ genre.name }}</mat-chip>
        }
      </mat-chip-set>
      <p class="overview">{{ movieDetail.overview }}</p>
      <app-torrent-suggestions [movieDetail]="movieDetail" />
    </div>
  </div>
}
