@if (isLoading()) {
  <div class="loading">
    <mat-progress-spinner mode="indeterminate" diameter="32" aria-label="Loading series details" />
  </div>
} @else if (seriesDetail(); as seriesDetail) {
  <div class="series-detail">
    <div class="foreground">
      <div class="season-buttons">
        @for (tmdbSeasonDto of seriesDetail.seasons; track tmdbSeasonDto.id) {
          <button
            matButton="elevated"
            class="chip-button"
            [attr.aria-pressed]="showSeason()?.id === tmdbSeasonDto.id"
            (click)="showSeason.set(tmdbSeasonDto)"
          >
            {{ seasonTitle(tmdbSeasonDto) }}
            @if (isPartiallyDownloaded(tmdbSeasonDto)) {
              <ng-container>
                <mat-icon aria-hidden="true">done</mat-icon>
                <span class="visually-hidden">Downloaded</span>
              </ng-container>
            } @else if (notAiredYet(tmdbSeasonDto)) {
              <ng-container>
                <mat-icon aria-hidden="true">date_range</mat-icon>
                <span class="visually-hidden">Not yet aired</span>
              </ng-container>
            }
          </button>
        }
      </div>
      @if (showSeason(); as season) {
        <app-season [tmdbSeasonDto]="season" [seriesDetail]="seriesDetail" />
      }
    </div>
  </div>
}
