<div class="season">
  <p>
    <mat-icon>queue_play_next</mat-icon> {{ tmdbSeasonDto().name }} • <mat-icon>date_range</mat-icon
    >{{ tmdbSeasonDto().air_date }}
  </p>
  <p class="overview">{{ tmdbSeasonDto().overview }}</p>
  <p>
    @for (tmdbEpisodeDto of episodes(); track tmdbEpisodeDto.id) {
      <span>
        <button
          matButton="elevated"
          class="episodeButton"
          (click)="showEpisode.set(tmdbEpisodeDto)"
        >
          {{ episodeButtonTitle(tmdbEpisodeDto) }}
        </button>
        @if (episodeIcon(tmdbEpisodeDto); as icon) {
          <mat-icon class="topRightIcon">{{ icon }}</mat-icon>
        }
      </span>
    }
  </p>
  @if (showEpisode(); as episode) {
    <app-episode
      [tmdbEpisodeDto]="episode"
      [seriesDetail]="seriesDetail()"
      [downloadStatus]="downloadStatus(episode)"
    />
  }
</div>
