.season {
  padding-top: 4pt;
  margin-right: 10pt;
  padding-left: 12pt;
  padding-bottom: 10pt;
  border-radius: 10pt;
  background-color: rgba(65,65,65,0.4);
  position: relative;
}

.overview {
  text-shadow: 0.5pt 0.5pt black;
}

.episodeButton {
  margin-right: 4pt;
  margin-bottom: 4pt;
  background-color: rgba(65,65,65,0.4);
  color: whitesmoke;
}
