<div class="season">
  <p>
    <mat-icon>queue_play_next</mat-icon> {{season.name }} •
    <mat-icon>date_range</mat-icon>{{season.air_date}}
  </p>
  <p class="overview">
    {{season.overview}}
  </p>
  <p>
    <span *ngFor="let episode of episodes">
      <button mat-raised-button class="episodeButton" (click)="showEpisode = episode">
        {{getEpisodeButtonTitle(episode)}}
      </button>
      <mat-icon class="topRightIcon" *ngIf="isAlreadyDownloaded(episode)">done</mat-icon>
      <mat-icon class="topRightIcon" *ngIf="notAiredYet(episode)">date_range</mat-icon>
    </span>

  </p>
  <episode [episode]="showEpisode" [seriesDetail]="seriesDetail" [alreadyDownloaded]="isAlreadyDownloaded(showEpisode)" *ngIf="showEpisode"></episode>
</div>



