<div class="season">
  <p class="meta-line">
    <mat-icon>queue_play_next</mat-icon>{{ tmdbSeasonDto().name }} <mat-icon>date_range</mat-icon
    >{{ tmdbSeasonDto().air_date }}
  </p>
  <p class="overview">{{ tmdbSeasonDto().overview }}</p>
  <div class="episode-buttons">
    @for (tmdbEpisodeDto of episodes(); track tmdbEpisodeDto.id) {
      <button matButton="elevated" class="chip-button" (click)="showEpisode.set(tmdbEpisodeDto)">
        {{ episodeButtonTitle(tmdbEpisodeDto) }}
        @if (episodeIcon(tmdbEpisodeDto); as icon) {
          <mat-icon>{{ icon }}</mat-icon>
        }
      </button>
    }
  </div>
  @if (showEpisode(); as episode) {
    <app-episode
      [tmdbEpisodeDto]="episode"
      [seriesDetail]="seriesDetail()"
      [downloadStatus]="downloadStatus(episode)"
    />
  }
</div>
