<div class="downloadDetail">
  <div class="background-container">
    <img class="background-image" [src]="backgroundImage()" alt="" />
    <div class="background-image-shadow"></div>
  </div>
  <div class="foreground-container">
    <p class="download_title">{{ title() }}</p>
    <p><mat-icon>link</mat-icon> {{ peers() }}</p>
    <p><mat-icon>network_check</mat-icon> {{ speed() }}</p>
    <p><mat-icon>timelapse</mat-icon> {{ estimatedTimeFinished() }}</p>
    <div class="progress-percentage">
      <mat-progress-bar
        class="float-left"
        mode="determinate"
        [value]="downloadDto().progress * 100"
      />
      @if (isRunning()) {
        <a class="float-left">{{ progressString() }}</a>
      } @else {
        <mat-icon class="float-left">done_outline</mat-icon>
      }
    </div>
  </div>
</div>
