mat-toolbar {
  background-color: var(--mat-sys-surface-container-highest);
  color: var(--mat-sys-on-surface);
  position: sticky;
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}

.navigationButtonContainer {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px;
}

button {
  color: var(--mat-sys-on-surface);
}

mat-icon {
  margin-right: 8px;
}

button.active {
  background-color: var(--mat-sys-surface-container-highest);
  outline: 1px solid var(--mat-sys-outline-variant);
}
