<mat-toolbar>
  <span>Torenta</span>
  <div class="navigationButtonContainer">
    <button matButton="elevated" routerLink="/preferences" routerLinkActive="active">
      <mat-icon>settings</mat-icon>Preferences
    </button>
    <button matButton="elevated" routerLink="/downloads" routerLinkActive="active">
      <mat-icon>archive</mat-icon>Downloads
    </button>
    <button matButton="elevated" routerLink="/search" routerLinkActive="active">
      <mat-icon>movie</mat-icon>Search
    </button>
  </div>
</mat-toolbar>
